.products-container {
    padding: 20px;
  }
  
  .products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    justify-content: space-between;
  }
  
  .product-card {
    flex: 1 1 calc(33.333% - 40px); 
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
  }

  .product-card:hover {
    transform: translateY(-10);
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px; 
    cursor: pointer;
  }
  
  .product-price {
    font-size: large;
    font-weight: 600;
  }

  .product-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }