.products-container {
    padding: 20px;
  }
  
  .products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    justify-content: space-between;
  }
  
  .product-card {
    flex: 1 1 calc(33.333% - 40px); /* 3 items per row with some space between */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    justify-content: space-between; /* Center content vertically */
  }

  .product-card:hover {
    transform: translateY(-10);
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px; /* Add some space between image and other content */
    cursor: pointer;
  }
  
  .product-price {
    font-size: large;
    font-weight: 600;
  }