.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.profile-icon {
    cursor: pointer;
}

.basket-icon {
    cursor: pointer;
}

.forty {
    color: rgb(43, 174, 226); 
}

.basket-container {
    position: relative;
    display: inline-block;
}

.basket-icon {
    position: relative;
}

.basket-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}