.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.profile-icon {
    cursor: pointer;
}

.basket-icon {
    cursor: pointer;
}

.forty {
    color: rgb(43, 174, 226); 
}