.payment-form {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
  }
  
  .payment-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .card-element {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pay-btn {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pay-btn:hover {
    background-color: #0056b3;
  }
  
  .stripe-icon {
    vertical-align: middle;
    margin-right: 5px;
    
  }
  
  .error-msg,
  .success-msg {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .error-msg {
    background-color: #ffcccc;
    color: #cc0000;
    text-align: center;
  }
  
  .success-msg {
    background-color: #ccffcc;
    color: #009900;
  }
  